.wrapper {
    min-height: var(--content-min-height);
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h2{
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 32px;
        color: var(--dark-grey);
    }

    .card {
        padding: 24px;
        background-color: #fff;
        border-radius: 8px;
        width: min(100%, 1200px);

        & form {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            gap: 16px;

            & .row_2 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 60px;
            }

            & .form_group {
                display: grid;
                grid-template-columns: 1fr;
                gap: 8px;
                width: 100%;

                &.columns_2{
                    grid-template-columns: 1fr 1fr;
                }

                & label {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    color: var(--dark-grey);
                }

                & input {
                    padding: 8px 16px;
                    font-size: 16px;
                    line-height: 20px;
                    border: 1px solid var(--dark-grey);
                    
                    &:focus {
                        border: 1px solid var(--dark-grey);
                        outline-color: var(--dark-grey);
                    }
                }
            }

            & button {
                padding: 10px;
                background-color: var(--grey);
                border-radius: 4px;
                color: var(--white);
                font-size: 24px;
                line-height: 29px;
                border:none;
                text-align: center;
                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                display: block;
                cursor: pointer;
                
            
                &:hover,
                &:focus {
                    background-color: var(--dark-grey);
                    color: rgb(218, 218, 218);
                    box-shadow: 0px 0px 7px 0px var(--white-hover);
                }
            }
        }

        & .error {
            margin-top: 16px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }
    }
}